.cartelGetproduct {
    margin: auto;
    padding: 20px;
    text-align: center;
}

.Soustitre {
    color: #82735c;
    text-align: center;
}

.Soussoustitre {
    color: #1a936f;
    text-align: center;
}