extends layout

block content
  div.
    <form id="myform" action="postProduct" method="post" enctype="application/x-www-form-urlencoded">
    <fieldset>
      <legend>Produit</legend>
      <div class="form-group">
        <label for="type">Séminaire</label>
        <input type="checkbox" id="type" name="type" value="séminaire">
        <label for="type">Formation</label>
        <input type="checkbox" id="type" name="type" value="formation">
      </div>
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" class="form-control" id="title" placeholder="Title" name="title">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Desciption" name="description">
      </div>
      <div class="form-group">
        <label for="startDate">Date de début</label>
        <input type="date" class="form-control" id="startDate" placeholder="Date de début" name="startDate" value="startDate">
        <label for="endDate">Date de fin</label>
        <input type="date" class="form-control" id="endDate" placeholder="Date de fin" name="endDate" value="endDate">
      </div>
      <div class="form-group">
        <label for="price">Prix</label>
        <input type="price" class="form-control" id="price" placeholder="Price" name="price">
      </div>
      <div class="form-group">
        <label for="availableQty">Nbe places</label>
        <input type="availableQty" class="form-control" id="availableQty" placeholder="nbe de places" name="availableQty">
      </div>
      <button type="submit" class="btn btn-primary">Enregistrer</button>
    </fieldset>
    </form>