.AllSection {
    border-right: solid 1px;
    border-color: #1a936f;
    overflow-wrap : break-word;
}

.Card {
    border-radius: 5px;
}

.TitleCard {
    border-bottom: solid 1px;
    border-color: #1a936f;
    background-image: url("../../assets/croissancesemis.jpg");
    height: 50px;
    text-align: center;
    font-weight: bold;
}

.FontCard {
    font-size: 0.8em;
    font-weight: 700;
    text-align: center;
}


.FontCardtitle {
    font-size: 0.8em;
    font-weight: 700;
    text-align: center;
}

h2 {
    color: #4b3b40;
    text-align: center;
}


.FaReply {
    text-align: right;
    margin-right: 15px;
}
