.Getlastcomment {
    font-size: 0.6em;
    background-color: #82735c;
    color: white;
    border-radius: 20px;
    line-height:1em;
    overflow-wrap : break-word;
    padding: 10px;
    text-align: center;
}

h1 {
    color: #4b3b40;
}

.Comdialog {
    text-align: right;
}
