.Background {
    background-color: #d1f5be;
    height: 250px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.Titre {
    font-size: 3em;
    color: #82735c;
    text-decoration: none;
    text-align: center;
}

.Icones {
    display: block;
    line-height:1.5em;
    text-align: center;
    height: 210px;
}

.Ulheader {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    float: left;
    color: #4b3b40;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}

li a:hover {
    background-color:#1a936f;
}

.Searchbar{
    float: right;
}
