.Background {
    background-color: #d1f5be;
    height: 300px;
    margin-top: 0px;
    text-align: right;
    margin: 0;
    padding: 0;
    width: 100%;
}

.Titre {
    font-size: 4em;
    color: #82735c;
    text-decoration: none;
    text-align: center;
}

.Icones {
    display: block;
    line-height:2.1em;
    text-align: center;
}

.Navlink {
    text-decoration: none;
    font-size: 1.2em;
    margin: 12px;
    color: #4b3b40;
    font-weight: bold;
}

.Badge {
    font-size: 0.7em;
}
