.Quisommesnous {
    margin-top: 30px;
    background-image: url("../../assets/Logopartiel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.Textquisommesnous {
    margin-top: 30px;
    font-weight: 500;
}

.Savetheplanet {
    margin-top: 250px;
}

.Noustrouver {
    margin-top: 30px;
}