.CartelLastUser {
    font-size: 0.5em;
    padding: auto;
    margin-top: 20px;
    height: auto;
    width: auto;
    border: 1px solid;
    border-color: #d1f5be;
    border-radius: 15px;
    color: #1a936f ;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-wrap : break-word;
}

h1 {
    color: #4b3b40;
    text-align: center;
}

h2 {
    text-align: center;
    color: #4b3b40
}