.CartelLastUser {
    font-size: 0.7em;
    padding: 5px;
    margin-top:20px;
    height: auto;
    width: auto;
    border: 1px solid;
    border-color: #d1f5be;
    border-radius: 15px;
    border-radius: 15px;
    overflow-wrap : break-word;
    line-height:1.2em;
    text-align: center;
}

h1 {
    color: #4b3b40;
    text-align: center;
}

.username {
    color: black;
}