.test5 {
    background-color: #1a936f;
    width: 20%;
    height: 35px;
  }

  .test6 {
    background-color: #d1f5be;
    width: 20%;
    height: 35px;
  }
  .test7 {
    background-color: #9cde9f;
    width: 20%;
    height: 35px;
  }
  .test8 {
    background-color: #9db17c;
    width: 20%;
    height: 35px;
  }
  .test9 {
    background-color: #82735c;
    width: 20%;
    height: 35px;
  }
  .test10 {
    background-color: #4b3b40;
    opacity: 0.5;
    width: 20%;
    height: 35px;
  }

.Fond {
  background-color: #d1f5be;
}
.Testtitre {
  font-size: 2em;
}
