.Contact {
    box-sizing: border-box;
    padding: 15px;
    margin-bottom:5px;
}

.InputEmail {
    width: 100%;
    box-sizing: border-box;
}

.InputMessage {
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid 1px;
    border-color: lightgrey;
}

.ButtonPost {
    color: #1a936f;
    text-align: center;
    margin-top: 30px;
    width: 100%;
}