.App {
  text-align: center;
}

.test5 {
  border: solid;
  border-color: white;
  background-color: #1a936f;
  width: 20%;
  height: 35px;
}

.test6 {
  border: solid;
  border-color: white;
  background-color: #d1f5be;
  width: 20%;
  height: 35px;
}
.test7 {
  border: solid;
  border-color: white;
  background-color: #9cde9f;
  width: 20%;
  height: 35px;
}
.test8 {
  border: solid;
  border-color: white;
  background-color: #9db17c;
  width: 20%;
  height: 35px;
}
.test9 {
  border: solid;
  border-color: white;
  background-color: #82735c;
  width: 20%;
  height: 35px;
}
.test10 {
  border: solid;
  border-color: white;
  background-color: #4b3b40;
  width: 20%;
  height: 35px;
}
