.PostComment {
    padding: 15px;
    margin-bottom:5px;
}

.Inputpost {
    box-sizing: border-box;
    width: 100%;
}

.Post {
    width: 100%;
    height: 120px;
    box-sizing: border-box;
}

.ButtonPost {
    color: #1a936f;
    text-align: center;
    margin-top: 30px;
    width: 100%;
}