.cartelGetlastproduct {
    font-size: 0.8em;
    background-color: #82735c;
    color: white;
    width: 85%;
    border-radius: 20px;
    margin: auto;
    line-height:1.5em;
    overflow-wrap : break-word;
}

h1 {
    color: #4b3b40;
}